@use '../../../assets/scss/default/mixin/flex.scss' as flex;
.credit {
    height: 100%;
    overflow: hidden;
    @include flex.flex(center, center);
    video {
        position: absolute;
    }
    &__content {
        position: relative;
        .title {
            text-align: center;
        }
        .btns>*~* {
            margin-left: 1rem;
        }
    }
}